.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.action-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
td:nth-child(1) {
  cursor: pointer;
}
td:nth-child(1):hover {
  opacity: 0.5;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
/* th {
  text-align: center;
} */

th:nth-child(1) {
  width: 60%;
}
th:nth-child(2) {
  width: 15%;
}
th:nth-last-child(1),
td:nth-last-child(1) {
  text-align: center;
}

tr:nth-child(odd) {
  background-color: #f0f0f0;
}
tr:nth-child(even) {
  background-color: #dddddd;
}
tr:nth-child(1) {
  background-color: #ffffff;
}

button {
  background-color: #f0f0f0;
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
  padding: 5px 1em;
}
