/* .header{
    color:red;
    font-size:40px;
} */

h1{
    color:blue;
}
.title
{
    font-size:50px;
    font-weight:Bold;
}
.content
{
    align-items: center;
    font-weight: lighter;
}
.firstName
{
    margin-left: 0 auto;
    width:200px;
    height:20px;
    border:1px solid black;
}
.lastName
{
    font-size:20px;
    font-weight: lighter;
    
}