/* .header{
    color: red;
    font-size: 35px;


} */
h1{
    color: turquoise;

}
.header1{
    color: blue;

}
.header2{
    font-size: 30px;

}
.header3{ 
    color: pink;
    font-size: 25px;

}
.header4{
    font-weight: lighter;
    
}